/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background-color: var(--background-light);
}

/* Typography */
h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

span {
  font-size: 16px;
}

h1,
h2,
h3 {
  color: var(--text_dark);
}

/* Variables */
:root {
  --text_dark: #111827;
  --text_light: #f3f4f6;

  --accent-purple: #6a11cb;
  --accent-blue: #2196f3;
  --accent-yellow: #fdd835;
  --accent-red: #ff4b4b;

  --background-dark: #121212;
  --background-light: #fff;

  --bg_dark_blue-gray: #124658;
  --bg_darkblue_dark: #06171e;
  --bg_darkblue_light: #0d3240;

  --primary-orange: #ff6b35;

  --prime_blue: #0d3240;
  --prime_red: #ff4b4b;
}

/* Header */
.page-header {
  background: var(--primary-orange, #ff6b35);
}

.page-header__content {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 25px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.page-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text_light, #ffffff);
  margin-left: 5px;
}

/* Layout */
.layout {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  background-color: var(--bg-main, #f9fafb);
}

/* Footer */
.page-footer {
  background: var(--primary-orange, #ff6b35);
}

.page-footer__content {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 25px;
  text-align: center;
}

.page-footer-copy {
  color: var(--text_light, #ffffff);
  font-size: 1rem;
  margin-top: 10px;
}
