/* Farben */

:root {
  --text_dark: #222;
  --text_light: #ffffff;

  --accent-purple: #7b4dff;
  --accent-blue: #2196f3;

  --background-dark: #121212;
  --background-light: #fff;
  --bg_dark_blue-gray: #124658;
  --primary-orange: #FF6B35;
}

body {
  background-color: var(--background-light);
}

h1, h2, h3 {
  color: var(--text_dark);

}

