
@media (max-width: 880px) {
  .restaurant {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }
}

@media (max-width: 570px) {
  .hero{
    padding: 60px 10px;
  }
  .hero-title {
    font-size: 1.5rem;
    text-align: left;
  }
 
  .hero-info {
    font-size: 1rem;
  }
}

@media (max-width: 570px) {
  .category-card {
    padding: 8px;
  }
}