/* Right Side */
.basket-wrapper {
  width: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.basket-content {
  position: sticky;
  top: 0;
  width: 100%;
  height: 400px;
  padding: 16px;
}

.basket-header h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #ff8000;
  text-align: left;
  letter-spacing: 0.5px;
}
.basket-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
  margin-bottom: 8px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.basket-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.basket-item-name {
  flex: 2;

  font-size: 1rem;
  color: #333;
}

.basket-item-controls-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket-item-quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.basket-item-quantity-controls button {
  border-radius: 4px;
  width: 27px;
  height: 27px;

  background-color: transparent;
  border: none;
  color: #ff8000;
  padding: 4px 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.basket-item-quantity-controls button:hover {
  background-color: #eea459c2;
}

.basket-item-amount {
  min-width: 24px;
  text-align: center;
}

.basket-item-price {
  border-radius: 4px;
  text-align: right;
  color: #222;
}

.delete-from-basket-button {
  margin-left: 10px;
  width: 27px;
  height: 27px;

  border: none;
  color: #ff8000;

  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 0.2s;
}

.delete-from-basket-button:hover {
  background-color: #eea459c2;
}

.basket-footer {
  margin-top: auto;
  padding-top: 12px;
  border-top: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  color: #333;
}

.basket-footer div {
  display: flex;
  justify-content: space-between;
}

.total-price {
  font-weight: 600;
}

/* Right Side Responsive */
.basket-responsive {
  display: none;
}

@media (max-width: 700px) {

  .basket-wrapper {
    display: none;
  }

  .basket-content {
    padding: 0;
  }

  .basket-responsive {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #2e2a27;
    transition: height 0.3s ease;
    z-index: 999;
  }

  /* Zustand offen */
  .basket-responsive.is-open {
    height: 100%;
    background-color: white;
  }

  .basket-toggle-button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .basket-toggle-button:hover {
    background-color: #ff8000;
  }

  /* Button wenn offen */
  .basket-toggle-button.is-open {
    background-color: #3b2a1f;
    color: white;
  }

  .basket-responsive.is-open .basket-toggle-button:hover {
    background-color: #ff8000;
    color: white;
  }
}
